{{ define "main" }}

<div class="container">

    {{ if eq .Section "productos" }}
    <a class="volver" href="/productos/">
        ← Volver a productos
    </a>
    {{ end }}

    <div class="producto-detalle">

        <h1>{{ .Title }}</h1>

        {{ if .Params.image }}
        <img class="imagen" src="{{ .Params.image }}" alt="{{ .Title }}">
        {{ end }}

        {{ if .Params.price }}
        <div class="precio">
            {{ partial "format-price.html" .Params.price }}
        </div>
        {{ end }}

        {{ if .Params.description }}
        <p>
            {{ .Params.description }}
        </p>
        {{ end }}

        <hr>

        <div class="contenido-producto">
            {{ .Content }}
        </div>

        <div class="acciones-producto acciones-{{ .File.BaseFileName }}">
            {{ if eq .Section "productos" }}
            <button class="btn-agregar-single" data-id="{{ .RelPermalink }}" data-title="{{ .Title }}" data-price="{{ .Params.price }}" data-image="{{ .Params.image }}">
                Agregar al Carrito
            </button>
            {{ else }}
            <a class="btn btn-contacto-whatsapp" href="https://wa.me/573146865924?text={{ urlquery "Hola, necesito información" }}" target="_blank" rel="noopener noreferrer">
                Contactanos al Whatsapp
            </a>
            {{ end }}
        </div>

    </div>

</div>

{{ end }}
